<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single</title>
</head>
<body>
  <h1>Singles</h1>

  <div>
    <p><%= db.main %></p>
    <p><%= db.side %></p>
    <p><%= db.drink %></p>
  </div>
</body>
</html>